.container-principal {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/ADM/adm.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* cobre toda a área de forma proporcional */
  background-position: center; /* centraliza a imagem */
}

.servico-botao{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid white;
  padding: 1rem;
  text-align: center;
}

.botao-cancelar{
  width: 20%;
  height: 30%;
  background-color: red;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.container-agendamento{
  margin-top: 10vh;
  width: 30vw;
  padding: 2rem;
  background-color: rgba(26, 27, 32);
  border-radius: 1.5rem;
  margin-left: 33.5%;
}

.input-botao{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.input-botao button{
  width: 50%;
  border: none;
  border-radius: 4px;
  height: 3vh;
  margin-top: 2%;
}

@media(max-width:1000px){
  .container-agendamento{
  width: 80%;
  margin-top: 10vh;
  padding: 2rem;
  background-color: rgba(26, 27, 32);
  border-radius: 1.5rem;

}
.container-agendamento{
  margin-top: 10vh;
  margin-left: 2%;
  width: 80vw;
  padding: 2rem;
  background-color: rgba(26, 27, 32);
  border-radius: 1.5rem;
}

.botao-cancelar{
  width: 30%;
  height: 30%;
  background-color: red;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
}