.gerenciar-servicos-container {
  max-width: 900px;
  width: 100vw;
  margin: 0 auto;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/ADM/adm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.gerenciar-servicos-container h1 {
  color: var(--amarelo);
  margin-bottom: 2rem;
}

.adm{
  display: flex;
  text-align: center;
  width: 15rem;
  color: white;
  border-color: white;
  font-weight: bold;
  border: 2px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  text-decoration: none;
  margin-bottom: 1.5rem;
}
.adicionar-servico-form{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1.3vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid;
  border-radius: 1px;
}

.add{
  width: 10rem;
  border-radius: 8px;
  border: none;
  background-color: green;
  font-size: 1rem;
  font-weight: bold;
}

.servicos-grid {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.card-servico {
  border: 2px solid #ccc;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s, border 0.3s;
  cursor: pointer;

}

.card-servico:hover {
  transform: scale(1.02);
}

.card-servico.ativo {
  border: 3px solid var(--amarelo);
  background: linear-gradient(to bottom right, #fffce1, #ffffff);
  box-shadow: 0 0 16px var(--amarelo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120%;
}

.card-servico.inativo {
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.card-servico h3 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.duracao,
.preco,
.status {
  font-size: 1rem;
  color: #333;
  margin-top: 0.25rem;
  font-weight: bold;
}

@media(max-width: 1000px){
  .adicionar-servico-form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  flex-direction: column;
}
.add{
  margin-top: 1rem;
  width: 10rem;
  height: 2.3rem;
  border-radius: 8px;
  border: none;
  background-color: green;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.servicos-grid {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

}