
/* -----------------------------------------PRINCIPAL---------------------------------- */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dist-home: 10%
}

body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  
}

.foto-de-fundo{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Home/background-barbearia.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: -1;
}

/* -----------------------------------------TOPO: NOME, SLOGAN E BOTAO CNT---------------------------------- */
.centralize{
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
 
}
.title{
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 9.9%;
  width: 502px;
  height: 189px;
  
}

.slogan{
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 0.3%;
}

.button-cnt{ 
  border: 0;
  background-color: rgba(26, 27, 32);
  text-align: center;
  align-items: center;
  height: 60px;
  width: 200px;
  border-radius: 10px;
  font-size: 1rem;
}

.button-cnt:hover{
  cursor:pointer;
  text-align: center;
  align-items: center;
  background-color: #f5d105;
  transition: 0.4s;
  color: black;
  font-weight: bold;
  height: 65px;
  width: 210px;
  
}

.esticar-home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Home/background-barbearia.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4; /* 👈 só o fundo terá opacidade */
  z-index: 0;
}

.centralize {
  position: relative;
  z-index: 1; /* 👈 conteúdo por cima do fundo */
  text-align: center;
  color: white;
}

@media(max-width: 1200px){
  .slogan{
    display: flex;
    font-size: 1.2rem;
  }
  .button-cnt{
    margin-top: 8%;
    font-size: 1rem;
    font-weight: bold;
  }
  .title{
    width: 90vw;
    height: 15vh;
  }
  .centralize{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 40vh;
  }
  }

/* -----------------------------------------SOBRE, FOTO DO BRUNO E TEXTO---------------------------------- */

.about-section {
  min-height: 90vh; 
  color: black;
  display: flex;
  gap: 7%;
  background-color: rgba(255, 255, 255, 0.875);
  justify-content: center;
  text-align: center;
}

.apresentacao{

  margin-top: var(--dist-home);
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: center;
}

.descricao-bruno{

  text-align: justify;
}

.picture{
  margin-top: var(--dist-home);
}

.foto-bruno{

  border-radius: 10px;
  width: 75%;

}

.figcaption{
  font-style: italic;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media(max-width: 1200px){  
  .about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
  }

  .apresentacao{
  margin-top: var(--dist-home);
  display: flex;
  width: 80vw;
  flex-direction: column;
  align-items: center;
  font-size: 0.9375rem;
}

.foto-bruno{
  border-radius: 10px;
  width: 85vw;

}
  .picture{
  margin-top: 2%;
  } 
  .apresentacao{
  margin-top: 2%
  }
}

/* -----------------------------------------SEÇÃO ESPAÇO, CONHEÇA NOSSO SALÃO E BLÁ BLÁ BLÁ---------------------------------- */

.espaco-section {

  min-height: 100vh;
  background-color: rgba(26, 27, 32, 0.95);
  color: #fff;
  display: flex; 
}

.components-espaco{
    margin-top: 5%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.sobre-barbearia{
    display: flex;
    width: 500px;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    color:white;

}

.icones-descritivos{
    width: 60vw;
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.circulo{
  margin-left: 5%;
  margin-right: 5%;
  width: 210px;              /* largura do círculo */
  height: 210px;             /* altura igual para formar círculo */
  background: #f5d105da;
  border-radius: 50%;       /* transforma em círculo */
  display: flex;
  align-items: center;      /* centraliza verticalmente */
  justify-content: center;  /* centraliza horizontalmente */
  color: white;
  font-size: 2rem;          /* tamanho do ícone/texto */
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.icone-geral{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icone{
    width: 50%;
    height: 50%;
}

.descricao-icone{
    margin-top: 8%;
    text-align: center;
    font-size: 0.9375rem;
    width: 180px;
    color: white;
}

.cjt-icone-texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media(max-width:1200px){
    .espaco-section{
        display: flex;
        height: 190vh;
    }
    .sobre-barbearia{
    display: flex;
    width: 80vw;
    font-size: 1.25rem;
    text-align: center;
    font-size: 0.9375rem;

}
    .icones-descritivos{
        display: flex;
        width: 70vw;
        flex-direction: column;
    }
    .descricao-icone{
        margin-top: 10px;
        margin-bottom: 3rem;
    }
}
:root{
    --dist-sobre: 10%;
}

@media screen and (max-width:400px){
  .espaco-section{
        display: flex;
        height: 200vh;
    }
}
/* -----------------------------------------SEÇÃO GOOGLE MAPS, ONDE ESTAMOS---------------------------------- */

.local-section {
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.875);
    color: #000;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.span{
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.tituloBranco {
  color: white;
}

.onde-estamos{
    margin-top: 2.8%;
}

.mapa{
    width: 600px;
    height: 500px;
    margin-top: var(--dist-sobre);
    border-radius: 10px;
}

@media(max-width:1200px){
  .background-image{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: -1; 
}
.foto-de-fundo{
  display: none;
}

  .onde-estamos{
    color: #000;
    margin-top: 0;
    margin-bottom: 10%;
}
  .mapa{
    width: 95vw;
    height: 40vh;
  }
  .local-section {
    background-color: rgba(255, 255, 255);
    min-height: 120vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
  
}



